@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
   box-shadow: 0;
}

:root{
    /*cores*/
    --cor0:#2251A8;
    --cor1:#2F4875;
    --cor2:#004DDB;
    --cor3:#283142;
    --cor4:#292c33;
    /*fontes*/    
}

html{
    background-image: url(/assets/not.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    font-size: 1em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

/*cabeçalho*/

header{
    background-color:rgba(0, 0, 255, 0.3);
    width: 70%;
    max-width: 700px;
    height: 150px;
    margin: 1%;
    border-radius: 15px;
    /*box-shadow: 1px 1px 10px white;*/
}

#nome-visitante{
    margin-top: 5px ;
    color: white;
    font-size: 2em;
}

.cabecalho-um{
    background-color:var(--cor1);
    height: 50px;
    display: flex;  
    position: fixed;
    justify-content: space-between;
    top: 0;
    width: 100%;  
    margin-top: 5px;
}

.cabecalho-dois{
    padding: 10px;
    margin-bottom: 25px;
    display: flex;  
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}

.cabecalho-dois h1{
    font-size: 1.9em;
    font-weight: bold;
    text-align: center;
    color:var(--cor4);
    margin-top: 15px;
}

.cabecalho-dois p{
    color: var(--cor4);
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    max-width: 800px;
}
/* cards dos projetos*/
.secao-cards{
    background-color: #292c338d;
    border-radius: 5px;
    width: 70%;
    max-width: 700px;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    box-shadow:  1px 1px 10px  rgb(11, 11, 11);
    
}

.card-projeto, .card-projeto-não-pronto{   
    width: 180px;
    background-color: var(--cor3);
    border-radius: 3%;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    margin: 30px auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.imagem-card img{
    width: 180px;
    height: 100px;
    border-top-right-radius: 3px;
    border-top-left-radius:3px ;
    margin-bottom: 10px;
    
}

.card-projeto h3, .card-projeto-não-pronto h3{
    width: 80%;
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 2px;
    border-bottom: 1px solid #004DDB;
}

.card-projeto:hover, .card-projeto-não-pronto:hover{
    box-shadow: 2px 2px 25px 10px black ;
    background-color: var(--cor4);
    width: 200px;
}

.card-projeto p, .card-projeto-não-pronto p{
    color: white;
    font-size: 0.8em;
    font-family: 'Times New Roman', Times, serif;
    line-height: 20px;
    padding: 8px;
}

.card-projeto .botao-card,.card-projeto-não-pronto .botao-card{
    width: 50%;
    padding: 2px;
    margin: 3px;
    background-color: var(--cor2);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.589);
}
.botao-card a, .card-projeto-não-pronto a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    width:100%;
    float:left;
    cursor:none;
}

.botao-card:hover,.botao-card a:hover{
    background-color: var(--cor0);
    color: black;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: 1px 1px 5px black;
}
  
.card-projeto-não-pronto .botao-card:hover, .card-projeto-não-pronto .botao-card a:hover{
    background-color: red;
    color: red;
    cursor:none;
    
}

.card-projeto-não-pronto:hover {
opacity: 10%;
width: 180px;
}

.roda-pe{
    margin-top: 1%;
    background-color: var(--cor3);
    height: 5vh;
    width: 100vw;
    padding-bottom: 0;
    
}

.roda-pe p{
    color: white;
    text-align: center;
    margin: auto;
    padding: 2px;
}